repos:
  - repo: https://github.com/fsfe/pre-commit-hooks
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: spotless-apply
        name: Apply Spotless formatting
        entry: mvn spotless:apply
        language: system
        pass_filenames: false
        always_run: true
        stages: [commit]

      - id: checkstyle
        name: Run Checkstyle
        entry: mvn checkstyle:check
        language: system
        pass_filenames: false
        always_run: true
        stages: [commit]
